<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/countdown/countdown-style.css" />
  </head>
  <body>
    <div class="countdown-container">
      <h1>Countdown</h1>
      <div class="countdown" id="countdown">
        <div class="time">
          <h2 id="days">00</h2>
          <small>Days</small>
        </div>
        <div class="time">
          <h2 id="hours">00</h2>
          <small>Hours</small>
        </div>
        <div class="time">
          <h2 id="minutes">00</h2>
          <small>Minutes</small>
        </div>
        <div class="time">
          <h2 id="seconds">00</h2>
          <small>Seconds</small>
        </div>
      </div>
    </div>
    <script src="../js/countdown.js"></script>
  </body>
</html>
